@model List<LatestCarServiceModel>

@{
    ViewBag.Title = "Welcome!";
}


<div class="jumbotron">
    <h1 class="display-4">Welcome to the best place for renting cars!</h1>
    <hr class="my-4">
    @if (!this.User.Identity.IsAuthenticated)
    {
        <p align="center">Please log-in to see more info!</p>
    }
    @if (this.User.IsAdmin())
    {
        <h3 align="center">Hello, mr. Admin!</h3>
    }
    
</div>

<p align ="center"><img src="home.jpg"></p>





<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="jumbotron d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-cars"></h2>
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-rentals"></h2>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-cars').text(data.totalCars + " Cars");
                $('#total-users').text(data.totalUsers + " Users");
                $('#total-rentals').text(data.totalRentals + " Rentals");

                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}